<!-- ユーザーの詳細 -->
<h3>User info</h3>
<%= image_tag user.get_profile_image(100,100) %>
<h5>name  <%= user.name %></h5>
<h5>introduction  <%= user.introduction %></h5>
<%= link_to edit_user_path(user), class: "btn btn-outline-secondary", :style => "width: 100%;" do %>
  <i class="fa-solid fa-user-gear"></i>
<% end %>