<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h4>User info</h4>
      <%= render 'layouts/message', resece: @user %>
      <%= render 'user_edit_form', user: @user %>
    </div>
  </div>
</div>