<h1>Users#index</h1>
<% @users.each do |user| %>
  <div>
    <p>image<%= image_tag user.get_profile_image(100,100) %></p>
    <p>name<%= user.name %></p>
    <p><%= link_to "Show", book_path(user) %></p>
  </div>
<% end %>

<!--kaminari用-->
<%= paginate @users %>