<div class="container"> 
  <div class="row"> 
    <div class="col-md-3">
      <!-- ユーザー情報 -->
      <%= render 'user_info', user: @user %>4

      <!-- 新規投稿作成 -->
      <h3>New book</h3>
      <%= render 'layouts/message', resece: @book %>
      <%= render 'books/book_edit_form', book: @book %>
    </div>

    <!-- ユーザー一覧 -->
    <div class="col-md-8  offset-md-1">
      <%= render 'user_index_table', users: @users %>
    </div>
  </div>
</div>