<div class="container"> 
  <div class="row"> 
    <div class="col-md-3">
      <%= render 'users/user_info', user: @user %>
      <%= render 'users/user_edit', book: @book %>
    </div>
    <!-- 本の詳細 -->
    <div class="col-md-8  offset-md-1">
      <%= render 'books_detail_table', book_show: @book_show, book_comment: @book_comment %>
    </div>
  </div>
</div>