<h1>welcome to<i class="fas fa-user"></i>Bookers !!</h1>

<p>
  In<i class="fas fa-user"></i>Bookers,<br>
  you can share and exchange your opinions , inpressions , and emotions<br>
  about various books!
</p>
<div>
  <%= link_to "Log in", new_user_session_path, class: 'btn btn-default' %>
</div>
<div>
  <%= link_to "Sign up", new_user_registration_path %>
</div>
