<footer class="bg-whitek pt-5 pb-4">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md">
        <p class="text-center">CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>