<% if resece.errors.any? %>
  <%= resece.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% resece.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>